* {
    margin: 0;
}

:root {
    --font-color-light: #E6FF55;
    --font-color-dark: #00473B;

    --font-color-nav-light: #00473b9a;
    --font-color-menu: black;
    --font-color-contact: white;

    --background-light: #B29A80;
    --background-light-transparent: #e8dbc5c6;  
    --background-dark: #00473B;
}

body {
    font-family: 'PT Sans Caption', sans-serif;
    text-align: center;
    background-color: var(--background-light);
    color: var(--font-color-dark);
    background-image: linear-gradient(#b29a80c1, rgba(146, 146, 105, 0.802)), url(./images/sweetgreen.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    font-weight: 100;
    font-size: 1.4rem;

}


/* HEADER */
.restaurant-name {
    font-size: 4rem;
    line-height: 1.7;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    font-size: 1.5rem;
    border-style: none;
    background-color: transparent;
    padding: 15px;
    transition: transform 0.3s;
    color: var(--font-color-nav-light);
    font-weight: 500;
}

.nav-btn:hover {
    position: relative;
    transform: translateY(-10%);
    color: var(--font-color-dark);
}

.active {
    text-decoration: underline;
    text-underline-offset: 9px;
    color: var(--font-color-dark);
}


/* Home Page */
.hero-text {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%);  
    color: var(--font-color-light);
}

.heading {
    line-height: 2;
    font-size: 2.8rem;
    letter-spacing: 2.5px;
    word-spacing: 4px;
}

.copy-big {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    word-spacing: 4px;
}

.copy-small {
    letter-spacing: 2px;
    line-height: 4;
    word-spacing: 4px;
}


/* Menu Page */
.menu {
    color: var(--font-color-menu);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 20px 300px;
    gap: 40px;
}

.menu-item {
    height: 390px;
    padding: 50px;
    border-radius: 20px;
    background: var(--background-light-transparent);  
}

.menu-item img {
    width: 65%;
    height: 53%;
    border-radius: 20px;
}

.food-name {
    padding: 10px;
}


/* Contact Page */
.contact {
    background-color: var(--background-dark);
    color: var(--font-color-contact);
    margin:  30px 370px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
}

.restaurant-location-img {
    width: 600px;
    height: 360px;
    border-radius: 10px;
}

.phone-number:hover {
    color: var(--font-color-light);
}


/* FOOTER */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    width: 100%; 
    gap: 8px;
    font-size: 1.1rem;
    padding: 10px;
}

a {
    color: inherit;

}

.fa-github:hover {
    transform: rotate(360deg) scale(1.4);
    transition: transform 0.3s ease-in-out;
}

img {
    width: 20px;
    height: 20px;
}